.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.card-header {
    font-size: 24px;
}

.card-text {
    font-size: 18px;
    margin-bottom: 40px;
}

.lead {
    font-size: 14px;
}